/* Sticky footer position and size
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
    margin-bottom: 300px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444444;
}

ul {
    margin: 0;
}

.bg-steel {
    background-color: #603bc5;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.border {
    padding: 10px;
}

.col-sm {
    margin: 10px;
}

.gamemode-tiles {
    margin-top: 50px;
}

.categories-spacing {
    margin: 30px;
    border: 1px solid slategrey;
    height: 50px;
    max-width: 100px;
    text-align: center;
    
}

.quiz-view {
    max-height: 60%;
    width: 100%
}


#creatorCategory {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid slategrey;
    border-radius: 5px;
    max-width: 30%;
}

.form-check {
    margin: 10px 0;
}
  
.form-check-label {
    margin-left: 5px;
}

textarea.form-control {
    resize: vertical; 
    margin-top: 10px; 
  }

  .answer-button {
    transition: background-color 0.3s, color 0.3s;
}

.answer-button.active {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

/* Footer CSS Rules*/

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 300px;
}

/* Taller footer on small screens */
@media (max-width: 567em) {
    body {
        margin-bottom: 700px;
    }

    .footer {
        height: 200px;
    }
}

/* Sticky footer style and color
  -------------------------------------------------- */
footer {
    padding-top: 30px;
    background-color: #292c2f;
    color: #bbb;
}

footer a {
    color: #999;
    text-decoration: none;
}

footer a:hover,
footer a:focus {
    color: #aaa;
    text-decoration: none;
    border-bottom: 1px dotted #999;
}

footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}