{% extends "quiz_app/base.html" %}
{% block content %}
<div class="border border-dark">
    <h2>Welcome to the Free Writing Quizzes!</h2>
    <p>
       Dive into a variety of categories such as History, Sports, Music, and more to find quizzes that match your interests.
    </p>
</div>

<div>
    <p>Feel free to choose from our 20 different categories to start the quiz.</p>
</div>

<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3 col-sm-6 col-12 categories-spacing"><a href="">Biology</a></div>
      <div class="col-md-3 col-sm-6 col-12 categories-spacing"><a href="">Chemistry</a></div>
      <div class="col-md-3 col-sm-6 col-12 categories-spacing"><a href="">Physics</a></div>
      <div class="col-md-3 col-sm-6 col-12 categories-spacing"><a href="">Geography</a></div>
      <div class="col-md-3 col-sm-6 col-12 categories-spacing"><a href="">Pop Music</a></div>
      <div class="col-md-3 col-sm-6 col-12 categories-spacing"><a href="">Rock Music</a></div>
      <div class="col-md-3 col-sm-6 col-12 categories-spacing"><a href="">Electro Music</a></div>
      <div class="col-md-3 col-sm-6 col-12 categories-spacing"><a href="">Classical Music</a></div>
      <div class="col-md-3 col-sm-6 col-12 categories-spacing"><a href="">Rap Music</a></div>
      <div class="col-md-3 col-sm-6 col-12 categories-spacing"><a href="">Movies</div>
      <div class="col-md-3 col-sm-6 col-12 categories-spacing"><a href="">TV Shows</a></div>
      <div class="col-md-3 col-sm-6 col-12 categories-spacing"><a href="">Literature</a></div>
      <div class="col-md-3 col-sm-6 col-12 categories-spacing"><a href="">Anime & Manga</a></div>
      <div class="col-md-3 col-sm-6 col-12 categories-spacing"><a href="">Computer Science</a></div>
      <div class="col-md-3 col-sm-6 col-12 categories-spacing"><a href="">Video Games</a></div>
      <div class="col-md-3 col-sm-6 col-12 categories-spacing"><a href="">Sports</a></div>
      <div class="col-md-3 col-sm-6 col-12 categories-spacing"><a href="">E-Sports</a></div>
      <div class="col-md-3 col-sm-6 col-12 categories-spacing"><a href="">Languages</a></div>
      <div class="col-md-3 col-sm-6 col-12 categories-spacing"><a href="">History</a></div>
      <div class="col-md-3 col-sm-6 col-12 categories-spacing"><a href="">Misc.</a></div>
    </div>
</div>

<div class="border border-dark">
    <p>
        Can't find something that fits your vibe? <br>Then create your own Quizzes and challenge your friends and familiy or use it to learn for your upcoming exam!
    </p>
    <button>Create your own Quiz!</button>
</div>
{% endblock content %}