{% extends "quiz_app/base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-8">
        <div class="border border-dark">
            <h1>Welcome to the Quizulu App!</h1>
            <p>Welcome to Quizulu, your ultimate destination for engaging and challenging quizzes!
               Dive into a variety of categories such as History, Sports, Music, and more to find quizzes that match your interests.
            </p>
        </div>
        <div class="container gamemode-tiles">
            <div class="row">
                <div class="col-sm border border-dark">
                    <p><a href="{% url 'quiz-multiple-gamemode' %}">Multiple Choice</a></p>
                </div>
                <div class="col-sm border border-dark">
                    <p><a href="{% url 'quiz-free-gamemode' %}">Free Writing</a></p>
                </div>
                <div class="col-sm border border-dark">
                    <p><a href="{% url 'quiz-picture-gamemode' %}">With Pictures</a></p>
                </div>
                <div class="border border-dark">
                    <p> 
                        To fully enjoy Quizulu, sign up for an account by clicking the "Sign Up" button on the navigation bar. Enter your email, username, and password. Once registered, you can log in anytime to access your personalized quiz experience, track your scores, and create your own quizzes.
                        Creating a custom quiz on Quizulu is a breeze and a fun way to challenge your friends and family. <br> 
                    </p>
                    <p> 
                        After logging into your account, head to the "Create Quiz" page via the navigation bar. Start by selecting a game mode: multiple choice, free writing, or picture-based quizzes. Choose a category for your quiz from options like Biology, Movies, or Video Games.
                        Next, decide on the number of questions and provide a brief description of your quiz. Use the intuitive interface to craft your questions and answers. Once your quiz is complete, save it to your account. <br> 
                    </p>
                    <p>
                        You can share the quiz link with friends and family, allowing them to test their knowledge on the topics you chose.
                        Your created quizzes are stored under "My Quizzes" in your profile. From there, you can update or delete any quiz as needed. Quizulu makes it easy and fun to create personalized quizzes for any occasion, helping you connect with others through shared knowledge and friendly competition.
                    </p>
                </div>
            </div>
        </div>        
    </div>
    <div class="col-md-4">
      <div class="content-section">
        <h3>Quizulu Quick Access</h3>
        <p class='text-muted'>Have a look through our newest Quizzes, browse the Leaderboard or Create your own Quiz.
          <ul class="list-group">
            <li class="list-group-item list-group-item-light">Our newest Quizzes</li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'quiz-creator' %}">Create your own Quiz</a></li>
            <li class="list-group-item list-group-item-light">Leaderboard</li>
          </ul>
        </p>
      </div>
    </div>
  </div>


{% endblock content %}