{% extends "quiz_app/base.html" %}
{% block content %}
<div class="border border-dark">
    <h2>Welcome to the Multiple Choice Quiz: Title!</h2>
    <p>
        Have fun playing this quiz and good luck on reaching the highscore
    </p>
</div>

<div class="border border-dark quiz-view">
  <h3 class="border border-box">How to create your own Quiz!</h3>

  <div class="container">
    <div class="row justify-content-center">
      <p>This will be the quiz text</p>
      <p>This will be a text input</p>
    </div>
    <button>Questions are Ready</button>
  </div>
</div>
{% endblock content %}