{% extends "quiz_app/base.html" %}
{% block content %}
<div class="border border-dark">
    <h2>Welcome to the Multiple Choice Quiz Creator!</h2>
    <p>
        Create your own Quizzes and challenge your friends and familiy or use it to learn for your upcoming exam!
    </p>
</div>

<div class="border border-dark quiz-view">
  <h3 class="border border-box">How to create your own Quiz!</h3>
  <p>
    Write your Question in the fist Text Box and the answer in the second one right below it.
  </p>


  <div class="container">
    <div class="row justify-content-center">

        
    </div>
    <button>Questions are Ready</button>
  </div>
</div>
{% endblock content %}