{% extends "quiz_app/base.html" %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <h2 class="text-center">{{ quiz.title }}</h2>
    <p class="text-center">Question {{ question_number }} of {{ total_questions }}</p>
    <form method="post" class="mt-4">
        {% csrf_token %}
        <div class="text-center">
            <p>{{ question|safe }}</p>
            <div class="row">
                {% for answer in answers %}
                <div class="col-6 mb-2">
                    <button type="button" class="btn btn-outline-primary w-100 answer-button" data-value="{{ answer }}">
                        {{ answer }}
                    </button>
                </div>
                {% endfor %}
            </div>
            <input type="hidden" name="answer" id="selected-answer" value="">
            <button type="submit" name="submit_answer" class="btn btn-primary mt-3">Submit Answer</button>
        </div>
    </form>
</div>
<script src="{% static 'js/quiz.js' %}"></script>
{% endblock content %}