{% extends "quiz_app/base.html" %}
{% block content %}
<div class="border border-dark">
    <h2>{{ quiz.title }}</h2>
    <p>{{ quiz.description }}</p>
    <ul>
        {% for question in quiz.questions_set.all %}
        <li>{{ question.question }}</li>
        <ul>
            <li>{{ question.correct_answer }}</li>
            <li>{{ question.answer1 }}</li>
            <li>{{ question.answer2 }}</li>
            <li>{{ question.answer3 }}</li>
        </ul>
        {% endfor %}
    </ul>
    <a href="{% url 'play_quiz' quiz.id %}" class="btn btn-primary">Play Quiz</a>
</div>
{% endblock content %}