{% extends "quiz_app/base.html" %}
{% block content %}
<!-- Main row containing both the welcome and information sections -->
<div class="row">

     <!-- Main content area for the welcome message and detailed instructions -->
    <div class="text-box col-md-8 equal-height">

        <!-- Welcome section with introductory information -->
        <div class="border-box margin-between">
            <!-- Main heading for the welcome section -->
            <h1>Welcome to the Quizulu App!</h1>
            <!-- Brief introductory paragraph about the app -->
            <p>Welcome to Quizulu, your ultimate destination for engaging and challenging quizzes!
               Dive into a variety of categories such as History, Sports, Music, and more to find quizzes that match your interests.
            </p>
        </div>
        
        <!-- Detailed instructions on how to use Quizulu -->
        <div class="border-box">
            <!-- Explanation on how to sign up and log in -->
            <p> 
                To enjoy Quizulu, sign up for an account by clicking the "Sign Up" button on the navigation bar. Enter your email, username, and password. Once registered, you can log in anytime to access your personalized quiz experience, track your scores, and create your own quizzes.
                Creating a custom quiz on Quizulu is a breeze and a fun way to challenge your friends and family. <br> 
            </p>
            <!-- Instructions on creating a quiz -->
            <p> 
                After logging into your account, head to the "Create Quiz" page via the side bar. Start by selecting a category for your quiz from options like Sports, Film, or History.
                Next, decide on the number of questions and provide a brief description of your quiz. Use the intuitive interface to craft your questions and answers. Once your quiz is complete, save it to your account. <br> 
            </p>
            <!-- Information on sharing quizzes and managing them -->
            <p>
                You can share the quiz link with friends and family, allowing them to test their knowledge on the topics you chose.
                Your created quizzes are stored under "My Quizzes" in your profile. From there, you can update or delete any quiz as needed. Quizulu makes it easy and fun to create personalized quizzes for any occasion, helping you connect with others through shared knowledge and friendly competition.
            </p>
        </div>
    </div>

    <!-- Sidebar for quick access to various features -->
    <div class="col-md-4 equal-height">
        <div class="content-section">
            <!-- Heading for the quick access section -->
            <h2>Quizulu Quick Access</h2>
            <!-- Brief description of what can be accessed -->
            <p class='text-muted'>Have a look through our newest Quizzes, browse the Leaderboard or Create your own Quiz.</p>
            <!-- List of quick access links -->
            <ul class="list-group">
                <!-- Link to create a new quiz -->
                <li class="list-group-item list-group-item-light sidebar-link-color"><a href="{% url 'quiz-creator' %}">Create your own Quiz</a></li>
                <!-- Link to the leaderboard page -->
                <li class="list-group-item list-group-item-light sidebar-link-color"><a href="{% url 'leaderboard' %}">Leaderboard</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock content %}