{% extends "quiz_app/base.html" %}
{% block content %}
<!-- Main content container for the login page -->
<div class="content-section">
    <!-- Login form for users to enter their credentials -->
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group login-spacing">
            <!-- Fieldset grouping for the login form -->
            <legend class="border-bottom mb-4">Log In</legend>
            <!-- Render the login form fields as paragraph elements -->
            {{ form.as_p }}
        </fieldset>
        <div class="form-group">
            <!-- Submit button for the login form -->
            <button class="btn btn-primary" type="submit">Log In</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <!-- Section providing a link to the registration page for new users -->
        <small class="text-muted">
            Do You need an Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
        </small>
    </div>
</div>
{% endblock content %}