{% extends "quiz_app/base.html" %}
{% block content %}
<!-- Container for the password reset request form -->
<div class="content-section">
    <!-- Form for submitting a request to reset the password -->
    <form method="POST">
        {% csrf_token %}
        <!-- Fieldset to group the form elements related to password reset -->
        <fieldset class="form-group">
            <!-- Legend to provide a title or description for the fieldset -->
            <legend class="border-bottom mb-4">Reset Password</legend>
            <!-- Render the form fields as paragraphs -->
            {{ form.as_p }}
        </fieldset>
        <!-- Container for the submit button -->
        <div class="form-group">
            <!-- Button to submit the password reset request -->
            <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
        </div>
    </form>
</div>
{% endblock content %}