{% extends "quiz_app/base.html" %}
{% load custom_filters %}
{% block content %}
<div class="container mt-5">
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" alt="Profile Picture">
            <div class="media-body">
                <h2 class="account-heading">{{ user.username }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        {{ u_form.username.label_tag }}
                        {{ u_form.username|add_class:"form-control" }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ u_form.email.label_tag }}
                        {{ u_form.email|add_class:"form-control" }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 mb-3">
                        {{ p_form.image.label_tag }}
                        {{ p_form.image|add_class:"form-control" }}
                    </div>
                    <div class="col-md-6 mb-3">
                        {{ p_form.bio.label_tag }}
                        {{ p_form.bio|add_class:"form-control" }}
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" name="update">Update</button>
                <button class="btn btn-outline-danger" type="submit" name="delete" onclick="return confirmDelete();">Delete Profile</button>
            </div>
        </form>
    </div>
</div>
<script>
function confirmDelete() {
    return confirm('Are you sure you want to delete your profile? This action cannot be undone.');
}
</script>
{% endblock content %}